<div class="centered-form authenticated-view">
    <p>Howdy, <strong><%= current_user.name %></strong></p>
    <p>What took you so long ?<br> You have finally unlocked the authenticated view :)</p>

  <a class="btn btn-success btn-block" href="https://ae.linkedin.com/in/ulugbek-makhmudov-011a8072" target="_blank">View LinkedIn profile</a>
  <a class="btn btn-danger btn-block" href="/logout">Log Out</a>
</div>